<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="SecureDataFlow2.commands.category">
      </category>
      <command
            name="Analyse Dataflow"
            categoryId="SecureDataFlow2.commands.category"
            id="SecureDataFlow2.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="SecureDataFlow2.commands.sampleCommand"
            class="securedataflow2.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SecureDataFlow2.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Security"
               mnemonic="M"
               id="SecureDataFlow2.menus.sampleMenu">
            <command
                  commandId="SecureDataFlow2.commands.sampleCommand"
                  id="SecureDataFlow2.menus.sampleCommand"
                  label="Analyse Flow"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="SecureDataFlow2.toolbars.sampleToolbar">
            <command
                  commandId="SecureDataFlow2.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="SecureDataFlow2.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
